.header {
    background-color: #0000ff;
}

.nav {
    display:flex;
    justify-content: center;
    background-color: #800080;
    position: relative;
}

.main {
    display: inline-block;
    background-color: #ffd700;
    width: 70%;
    position: absolute;
}

.aside {
    display: inline-block;
    background-color: #808080;
    width: 30%;
    position: absolute;
    left: 70%;
}

.footer {
    background-color: #00ffff;
    position: absolute;
}