span {
    font-weight: bold;
    color: #402E2A;
    height: 30px;
    width: 100px;
    display: inline-block;
    padding-top: 5px;
    position: relative;
    
    
}
nav span:hover, .submenu:hover{
    background-color: #9CD08F;
    color: #FFFFFF;
}
.menu{    
    background-color: #D5B0AC;
    text-align: center;
    
}
.menu_vertical{
    width:100px;
    background-color: #D5B0AC;
    text-align: center;
    display: block;
}
.menu .submenu{
    display: none;
    position: absolute;
    left:0%;
}
.menu span:hover > .menu.submenu{
    display: block;
}
.menu.submenu{
    left: 100%;
    top:0;
}
