<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quyết đê</title>
</head>
<body>
    <nav>
        <a href="/ask">Hỏi nhanh</a>
        <a href="/">Đáp gọn</a>
        <h1 id = 'question'> </h1>
        <button id = 'buttonFalse'>Sai/Không/Trái</button>
        <button id = 'buttonTrue'>Đúng/ Có/ Phải</button>
        <button id="voteResult">Kết quả vote</button>
        <button id="anotherQuestion">Câu hỏi khác</button>
    </nav>
    <script src="/views/question.js">
    </script>
</body>
</html>